{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% block styles %}
    <link href="{% static "css/landing.css" %}" rel="stylesheet">
{% endblock %}
{% block javascript %}
<script>

function scrollWin() {
    window.scrollTo(0, 250);
}
window.onload = scrollWin;

$(document).ready(function() {
setTimeout(function() {
  $("#main").removeClass("is-loading");
}, 100)
});
</script>
{% endblock %}
{% block content %}


<div id="main" class="is-loading">
	<h1>
		<span id="test">Onspar: The Shopping Website</span>
	</h1>
</div>
{% endblock %}
