{% extends "portfolio/base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<script>

  var map;

  function initMap() {
    var map;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 41.2915193, lng: -96.3614327}
          });
            codeAddress();
      }

  function codeAddress() {
  	var geocoder = new google.maps.Geocoder();
  	map = new google.maps.Map(document.getElementById('map') , {
  		zoom: 15,
  		center: {lat: {{ lat }}, lng: {{ long }}}

  	});
      var address = "{{ loc }}";
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
</script>
<style>
  #0pi
  {
    color: black;
    font-family: Helvetica;
    font-size: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  h3
  {
    color: black;
    font-family: Helvetica;
    font-size: 100%;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
  }
#map
{

}
#photo
{
float:right;
}
h4
{
padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
}
</style>
<div id= 0pi class="container">
  <h4><b>My Profile:</b></h4>
  <div id="photo">
  <img src="{{ profile.photo }}" class="img-responsive"></div>
  <h3><strong>First Name:{{ user.first_name }}</strong></h3>
  <h3><strong>Last Name:{{ user.last_name }}</strong></h3>
  <h3><strong>Email:{{ user.email }}</strong></h3>
  <h3><strong>Phone Number:{{ profile.phoneNumber }}</strong></h3>
  <h3><strong>Address:{{ profile.address }}</strong></h3>
  <h3><strong>City:{{ profile.city }}</strong></h3>
  <h3><strong>Country:{{ profile.country }}</strong></h3>
  <h3><strong>Zipcode:{{ profile.zipcode }}</strong></h3>

  <div id="map" onload="codeAddress() style="border-style: solid;" " style="width: 540px; height: 540px;" ></div>
  <a class="btn btn-primary" href="{% url 'portfolio:editProfile' %}"  role="button">Edit Profile</a>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYCiTaPolA8Y-JbDjXTmfpjuJ-FaJAR8Q&libraries=places&callback=initMap" async defer></script>

{% endblock %}
