{% extends 'blog/base.html' %}

{% block content %}
<style>
    #main
    {
     color: blue;
    font-family: Helvetica;
    font-size: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    }

    .post
    {
     color: blue;
    font-family: Helvetica;
    font-size: 100%;
    padding:10px 10px 10px 10px;
    margin:
    }
a:hover {
    color:#77b6e2;
}
h2
{
font-family: Baskerville;
font-size: 150%
}
a
{
padding:10px 10px 10px 10px;
}

</style>
<div  class="page-header">
		{% if user.is_authenticated %}
    <a type="submit" class="btn btn-md btn-primary " href="{% url "blog:post_new" %}">New Post</a>
			{% endif %}
    <h2><a href="{% url "blog:post_list" %}"><b>Onspar Blog</b></a></h2>
</div>
    {% for post in posts %}
        <div id =main class="post">
            <div class="date">
                {{ post.published_date }}
            </div>

            <h2>{% if user.is_authenticated and user == post.author %}<a href="{{ post.get_absolute_url }}">{% endif %}{{ post.title }}</a></h2>

            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}

url "blog:post_detail"